# website
:80 {
  root * /usr/share/caddy
  file_server
  encode zstd gzip
  
  header {
    # Configure caching
    header Cache-Control max-age=3600; # 1h

    # Enable HSTS
    Strict-Transport-Security max-age=31536000;

    # Disable FLoC tracking
    Permissions-Policy interest-cohort=()

    # Enable cross-site filter (XSS)
    # and tell browser to block detected attacks
    X-Frame-Options DENY

    # Disable clients from sniffing the media type
    X-Content-Type-Options nosniff

    # Set CSP
    Content-Security-Policy "default-src 'none'; style-src 'self' 'unsafe-inline'; script-src 'self' https://analytics.thetillhoff.de; img-src 'self'; connect-src https://analytics.thetillhoff.de;"
  }
}

# Healtchcheck
:8080 {
  respond "I'm healthy!"
}
