{{ template "partials/page.partial.html" . -}}

{{- define "content" -}}

<div class="fullWidth vertical textContainer">
  <h1>Reading Notes</h1>
  <p>
    As I'm a fan of reducing duplicate work and of open source, I'm using this corner of my website to publish notes on books or articles I read.
  </p>
  <ul>
    {{ range $index, $element := .childMeta }}
    <li>
      <a href="/reading-notes/{{ $index }}/">{{ $element.title }} by {{ $element.author }}</a>
    </li>
    {{ end }}
  </ul>
</div>

{{- end }}
