body {
  min-height: 100%;
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
  margin: 0;

  font-size: var(--font-size);
}

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: content-box; /* remove strange behaviour of some native elements - looking at you _button_! */
  transition: all 0.2s ease-in-out;

  /* antialiasing */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* subpixel antialiasing */
  /* -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto; */
}

p {
  line-height: 1.5;
}

.centeredContent {
  margin-top: auto;
}

a:visited, a:active {
  color: inherit;
}
