<!DOCTYPE html>
<html lang="en" style="height: 100%;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>thetillhoff.de</title>
    <style>
      :root {
        color-scheme: light dark; /* automatically takes care of all the dark and light mode default features :) */
      }
    </style>
    <link rel="preload" href="/style.css" as="style" >
    <link rel="stylesheet" href="/style.css">
    <script async defer data-website-id="16d5a8ed-0dd6-4e16-8f3f-73228d7aa8da" src="https://analytics.thetillhoff.de/umami.js"></script>
    <!--<script src="script.js"></script>-->
  </head>
  <body>
    <nav class="fullWidth verticalCenteredContent horizontalCenteredContent">
      <div class="fullWidth textContainer horizontalCenteredContent" style="padding-left: 1rem; padding-right: 1rem; min-height: 5rem">
        <a href="/" class="logo">
          thetillhoff
        </a>
        <div class="rtl">
          <a href="/">About</a>
          <a href="/blog">Blog</a>
        </div>
      </div>
      <!-- instead of having the colored line as bottom-border of nav, insert it here as <hr> -->
    </nav>
      {{ template "content" }}
    <footer>
      <br/>Made with ❤️ by <a href="https://github.com/thetillhoff" class="">thetillhoff</a>
    </footer>
  </body>
</html>
