<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css"> <!-- place stylesheet reference before color-scheme to prevent flickering -->
    <meta name="color-scheme" content="dark light"> <!-- automatically takes care of all the dark and light mode default features :) and is faster than setting it via css -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ template "head" . }}
  </head>
  <body>
    {{ template "partials/nav.partial.html" . -}}
    {{ template "partials/breadcrumbs.partial.html" . -}}
    {{ template "content" . }}
    {{ template "partials/footer.partial.html" . -}}
    <script async defer src="https://analytics.thetillhoff.de/script.js" data-website-id="196b7c7d-a4ba-4119-989e-8a7bf6edc3bf"></script>
  </body>
</html>
